@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background: #242121;
}

.navbar {
    background-color: #292828;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 20vw;
}

.navbar .left img:first-child {
    width: 20%;
}

.navbar .left img:last-child {
    width: 50%;
}

.navbar .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50vw;
}

.navbar .middle .search-bar {
    display: flex;
    align-items: center;
    background: #373737;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    width: 80%;
}

.navbar .middle .search-bar img {
    width: 5%;
}

.navbar .middle .search-bar input {
    border: none;
    outline: none;
    background-color: #373737;
    color: white;
    width: calc(100% - 5%);
}

.navbar .middle button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #292828;
    color: rgba(255, 255, 255, 0.5);
    padding: 7px 25px;
    width: calc(100% - 80%);
}

.navbar .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 18vw;
    padding-right: 10px;
}

.navbar .right img {
    width: 25px;
}

/* ///////////////////////////////////////// */

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.firstMovie,
.secondMovie,
.thirdMovie {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .Movie img,
.secondMovie img,
.thirdMovie img {
    width: 160px;
    background-image: url("./Assets/movie/background.png");
    background-size: cover;
} */

.MovieDiv {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titleHead {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}

.para1 {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.nowRead {
    color: #fff;
    font-family: Roboto;
    font-size: 11px;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: 1px solid #fff;
    background-color: transparent;
}